/* Originally create by Kiryu | https://www.kiryu.it | mail@nekomimi.it */
/* Revised by RainySummer | https:/rainysummer.top | hi@rainysummer.top */

@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400&family=Noto+Serif+JP:wght@700;900&family=Noto+Serif+SC:wght@700;900&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Noto Serif JP', 'Noto Serif SC', serif;
    color: darkred;
    background-color: black;
    user-select: none;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("image/p0.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#content {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

#link {
    font-size: 40px;
    font-family: 'Literata', serif;
}

a:link {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: darkred;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: darkred;
    background-color: transparent;
    text-decoration: underline;
}

.dark {
    color: #660000;
}

#logo {
    width: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#time {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

#footnote {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#source {
    font-size: xx-small;
    margin-top: 50px;
}